body{
    background-color: lightblue;
}
p{
    color:red;
}
.highlight{
    background-color: yellow;
}
#k{
    font-size:50px;
    text-align: center;
}
.container{
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
}
div{
    width: 300px;
    height: 300px;
    border: 2px solid black;
    margin: 10px;
    display: inline-block;
    position: relative;
    left:20;
}
.item {
  width: 50%;
  background: white;
  padding: 20px;
  height: 50%;
  display: flex;
  justify-content: center;
}
.container1{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;             
}
.item1{
  flex: 1 1 calc(33.333% - 20px);
  background: white;
  padding: 20px;
  box-sizing: border-box;
  width:10px;
  height:10px;
}
@media (max-width: 600px) {
  .item {
    flex: 1 1 100%;
  }
}
